<div class="pt-10 w-11/12 my-0 mx-auto sm:w-11/12 sm:my-0 sm:mx-auto">
  <div class="main-content p-2 sm:p-6">
    <p class="text-center text-gray-950 text-2xl sm:text-4xl">
      Lets Start Cooking with Popular Recipes!
    </p>
  </div>
  <div
    class="img-search-cont flex justify-evenly text-center sm:flex sm:justify-evenly sm:text-center text-base sm:text-lg"
  >
    <div class="cursor-pointer">
      <img
        src="/assets/variety/4c7697178c268c50e1b1641fca205c231634401116.png.jpg"
        alt=""
        class="rounded-full w-16 sm:w-32"
      />
      <div class="pt-2">Icecream</div>
    </div>

    <div class="cursor-pointer">
      <img
        src="/assets/variety/ccb7dc2ba2b054419f805da7f05704471634886169.jpg"
        alt=""
        class="rounded-full w-16 sm:w-32"
      />
      <div class="pt-2">Burger</div>
    </div>
    <div class="cursor-pointer">
      <img
        src="/assets/variety/d5ab931c8c239271de45e1c159af94311634805744.jpg"
        alt=""
        class="rounded-full w-16 sm:w-32"
      />
      <div class="pt-2">Cakes</div>
    </div>
    <div class="cursor-pointer">
      <img
        src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQOAOOEPk54Z4cxhwArGu0hSg4Laa131uvbsg&usqp=CAU"
        alt=""
        class="rounded-full w-16 sm:w-32"
      />
      <div class="pt-2">Sandwich</div>
    </div>
    <div class="cursor-pointer">
      <img
        src="/assets/variety/pizza.jpg"
        alt=""
        class="rounded-full w-16 sm:w-32"
      />
      <div class="pt-2">Pizza</div>
    </div>
  </div>
</div>
`
