<div class="pt-28 w-2/3 my-0 mx-auto sm:w-2/4 sm:my-0 sm:mx-auto">
  <div class="signup-cont mt-8">
    <div *ngIf="isLoading">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <mat-card   *ngIf="!isLoading">
      <img
        src="/assets/variety/pizza.jpg"
        alt=""
        class="rounded-full w-2/6 -right-0 -top-5 sm:w-1/4 absolute sm:-right-0 sm:-top-10"
      />
      <mat-card-content>
        <p
          class="text-lg sm:text-2xl text-gray-800 font-extrabold text-center p-8"
        >
          {{ loginView ? "Login" : "Signup" }}
        </p>
        <form
          action=""
          class="w-9/12 my-0 mx-auto"
          [formGroup]="userSignupForm"
          (ngSubmit)="onSubmit()"
        
        >
          <div>
            <mat-form-field
              class="example-full-width"
              appearance="outline"
              class="w-full"
            >
              <mat-label>Email</mat-label>
              <input
                type="email"
                matInput
                [errorStateMatcher]="matcher"
                placeholder="Ex. pat@example.com"
                formControlName="email"
              />
              <!-- <mat-hint>Errors appear instantly!</mat-hint> -->
              <mat-error
                *ngIf="
                  emailFormControl.hasError('email') &&
                  !emailFormControl.hasError('required')
                "
              >
                Please enter a valid email address
              </mat-error>
              <mat-error *ngIf="emailFormControl.hasError('required')">
                Email is <strong>required</strong>
              </mat-error>
            </mat-form-field>
          </div>
          <div>
            <mat-form-field appearance="outline" class="w-full">
              <mat-label>Password</mat-label>
              <input matInput formControlName="password" type="password" />
            </mat-form-field>
          </div>

          <div class="pb-6">
            <button
              mat-flat-button
              color="primary"
              class="w-full text-base sm:text-lg p-1"
            >
              {{ loginView ? "Login" : "Signup" }}
            </button>
          </div>
        </form>
        <p class="text-center pt-1">
          <!-- <a routerLink="/login" class="text-cyan-950">Login here</a> -->
          <button class="underline" (click)="toggleView()">
            {{
              loginView ? "New user signup here" : "Existing user login  here"
            }}
          </button>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
